{% extends 'base.html.twig' %}
{% block title %}Mon Profil{% endblock %}
{% block body %}
<div class="container mt-5">
    <h1>Mes informations</h1>   
    <div class="card">
        <div class="card-body">
            <p><strong>Pseudo :</strong> {{ user.pseudo }}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
        </div>
    </div>
</div>
{% endblock %}