{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="o-container o-container--centered">
    <div class="c-title">
        <h1>Derniers articles</h1>
    </div>

    <div class='posts'>
        {% if posts is not empty %}
            <ul class='c-list'>
                {% for post in posts %}
                    <li class='post'>
                        <a class='post--title' href="{{ path('app_post_show', {'slug': post.slug}) }}">
                            {{ post.title }}
                        </a>
                        <p class='post--content'>{{ post.content|striptags|slice(0, 150) ~ '...' }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun article publie pour le moment.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
 