{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Tableau de bord{% endblock %}

{% block content_body %}
<div style="padding: 2em;">
    <h1 style="margin-bottom: 1em;">Bienvenue sur le panneau d'administration</h1>
    <p>Utilisez le menu à gauche pour gérer les différentes sections du site.</p>
</div>
{% endblock %}
