{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
<h1>Articles publiés</h1>

<div class="posts">
{% if posts is not empty %}
    <ul class='c-list'>
        {% for post in posts %}
            <li class='post'>
                <a class='post--title' href="{{ path('app_post_show', {'slug': post.slug}) }}">
                    {{ post.title }}
                </a>
                <p class='post--content'>{{ post.content|striptags|slice(0, 150) ~ '...' }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun article publié pour le moment.</p>
{% endif %}

</div>

{% endblock %}
